@{
    ViewBag.Title = "List Students";
    Layout = "_Layout";
}

@model System.Collections.Generic.List<StudentPortal.Web.Models.Entity.Student>

<h2>List Students</h2>

<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-primary me-3" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">
                        Edit
                    </a>
                    <form asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
